$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>,Sarah Vaupel <vaupel.sarah@campus.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<div .recipient-category__option-add.massinput__cell.massinput__cell--add>
  #{csrf}
  ^{fvWidget addView}
  ^{fvWidget submitView}
