$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>,Not Committed Yet <not.committed.yet>,Sarah Vaupel <vaupel.sarah@campus.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

  <td>
   #{csrf}
   <span .email>
     #{email}
 <td .table__td--tooltip>
   ^{messageTooltip invWarnMsg}
