$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>,Winnie Ros <winnie.ros@campus.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

\<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      h1 {
        font-size: 1.25em;
        font-variant: small-caps;
        font-weight: normal;
      }
  <body>
    <h1>
      _{SomeMessage $ MsgMailExamOfficeExternalExamResultsIntro coursen termDesc externalExamExamName}
    <p>
      <a href=@{EExamR tid ssh coursen examn EEGradesR}>
        #{externalExamExamName}
    ^{editNotifications}
