$newline never

$# SPDX-FileCopyrightText: 2022 Sarah Vaupel <sarah.vaupel@ifi.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<table .table .table--striped .table--hover>
  <thead>
    <tr .table__row .table__row--head>
      <th .table__th>_{MsgSystemMessageOnVolatileClusterSettingKey}
      <th .table__th>_{MsgSystemMessageOnVolatileClusterSettingValue}
      <td>
  <tbody>
    $forall coord <- review liveCoords lLength
      <tr .massinput__cell .table__row>
        ^{cellWdgts ! coord}
        <td>
          ^{fvWidget (delButtons ! coord)}
  <tfoot>
    <tr .massinput__cell.massinput__cell--add>
      ^{addWdgts ! (0, 0)}
