$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<td>
  #{csrf}
  ^{fvWidget langView}
<td>
  ^{fvWidget titleView}
<td>
  ^{fvWidget descrView}
