$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

$maybe closed <- examClosedStr
  <p>
    _{MsgExamClosedSince closed}
$nothing
  <p .explanation>
    _{MsgExamCloseTip}
  <p .explanation>
    _{MsgExamCloseReminder}
  ^{closeView}
