$newline never

$# SPDX-FileCopyrightText: 2022 Sarah Vaupel <vaupel.sarah@campus.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<div .tooltip .tooltip--spread .tooltip--no-handle>
  <div>
    ^{contents}
  <div .tooltip__content>
    ^{tooltipContent}
