$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>,Sarah Vaupel <vaupel.sarah@campus.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<input type=file uw-file-input ##{fieldId} *{attrs} name=#{fieldName} :req:required :acceptRestricted:accept=#{accept}>
$maybe exts <- fmap toNullable permittedExtensions
  <br>
  _{MsgUploadModeExtensionRestriction}: 
  <ul .list--inline .list--comma-separated .list--iconless>
    $forall ext <- bool id (mappend zipExtensions) doUnpack exts
      <li .file-path>
        #{ext}
