$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<table>
  <thead>
    <tr>
      <th>
        _{MsgTermFormHolidaysFrom}
      <th>
        _{MsgTermFormHolidaysTo}
      <td>
  <tbody>
    $forall coord <- review liveCoords lLength
      <tr .massinput__cell>
        ^{cellWdgts ! coord}
        <td>
          ^{fvWidget (delButtons ! coord)}
  <tfoot>
    <tr .massinput__cell.massinput__cell--add>
      ^{addWdgts ! (0, 0)}
