$newline never

$# SPDX-FileCopyrightText: 2022 Sarah Vaupel <vaupel.sarah@campus.lmu.de>,Winnie Ros <winnie.ros@campus.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<div .two-columns>
  <section>
    <h2 id="data-protection">
      _{MsgHeadingDataProt}
    ^{dataProtection}

  <section>
    <h2 id="terms-of-use">
      _{MsgHeadingTermsUse}
    ^{termsUse}

  <section>
    <h2 id="copyright">
      _{MsgHeadingCopyright}
    ^{copyright}

  <section>
    <h2 id="imprint">
      _{MsgHeadingImprint}
    ^{imprint}
