$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

$forall AuthPlugin{apName, apLogin} <- plugins
  $if apName == "LDAP"
    <section>
      <h2>_{MsgLDAPLoginTitle}
      ^{apLogin toParent}
  $elseif apName == "PWHash"
    <section>
      <h2>_{MsgPWHashLoginTitle}
      <p>_{MsgPWHashLoginNote}
      ^{apLogin toParent}
  $elseif apName == "dummy"
    <section>
      <h2>_{MsgDummyLoginTitle}
      ^{apLogin toParent}
