$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<h2>
  _{MsgExamRegistrationNotRegisteredWithoutCourse (length aurNoCourseRegistration)}
<ul>
  $forall email <- aurNoCourseRegistration
    <li .email>
      #{email}
