$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

<div .labeled-checkbox .div-p>
  <div .labeled-checkbox__checkbox>
    ^{checkBoxView}
  <div .labeled-checkbox__label>
    <label for=#{theId}>
      ^{label}
