$newline never

$# SPDX-FileCopyrightText: 2022 Gregor Kleen <gregor.kleen@ifi.lmu.de>
$#
$# SPDX-License-Identifier: AGPL-3.0-or-later

\<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <style>
      h1 {
        font-size: 1.25em;
        font-variant: small-caps;
        font-weight: normal;
      }

      .emph {
        font-style: italic;
        font-weight: 600;
      }
  <body>
    <h1>
      _{SomeMessage $ MsgMailSubjectAllocationOutdatedRatings allocationName}

    <p>
      _{SomeMessage MsgMailAllocationOutdatedRatings}
      <ul>
        $forall (tid, ssh, csh, cName, numOutdated) <- courses
          <li>
            <a href=@{CourseR tid ssh csh CApplicationsR}>
              #{cName}
            \ (#{tshow numOutdated})

    <p .emph>
      _{SomeMessage MsgMailAllocationOutdatedRatingsWarning}

    $maybe until <- allocationDeadline
      <p>
        _{SomeMessage $ MsgMailAllocationAllocationDeadline until}

    ^{ihamletSomeMessage editNotifications}
